<h1>Users</h1>
<div class="fluid-container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Organizations</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @claims.each do |c| %>
      <tr>
        <% if c.status==false||c.status==nil%>
        <td><%= c.user.first_name %> <%= c.user.last_name %></td>
        <td><%= c.user.email %></td>
        <td><%= c.organization.name %></td>
        <td><% if can? :edit, @claims %>
        <%= link_to "Accept", organization_claim_request_path(c.organization, c, status: true), method: :patch%> |
        <% end %>
        <% if can? :delete, @claims %>
        <%= link_to "Delete", organization_claim_request_path(c.organization, c,status:false),method: :delete%>
        <% end %></td>
        <%end%>
      </tr>
      <% end %>
    </tbody>
  </table>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Organizations</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |u| %>
      <tr>
        <td><%= u.first_name %> <%= u.last_name %></td>
        <td><%= u.email %></td>
        <td><% if u.organization %>
        <%= u.organization.name %>
        <% end %></td>
        <td><% if can? :edit, @user %>
        <%= link_to "Edit", edit_user_path(u)%> |
        <% end %>
        <% if can? :delete, @user %>
        <%= link_to "Delete", user_path(u),
                            data: {confirm: "Delete this user?"},
                            method: :delete%>
        <% end %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
