<div class="container" id="subnavbar">
  <ul class="list-inline">
    <li><%= link_to "Users", admin_users_path %></li>
    |
    <li><%= link_to "Organizations", admin_organizations_path %></li>
    |
    <li><%= link_to "Events", admin_events_path %></li>
    |
    <li><%= link_to "News", admin_news_filters_path %></li>
    |
    <li><%= link_to "Technologies", admin_technologies_path %></li>
  </ul>
</div>
