<h1>Organizations</h1>

<div class="container-fluid">
<table class="table table-striped" id="admin-table">
  <thead>
    <tr>
      <th>Organization</th>
      <th>Published</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @organizations.each do |o| %>
    <div>
      <tr>
       <td><%= link_to o.name, organization_path(o) %></td>
       <td><%= o.published %></td>
       <td><%= link_to "Show", organization_path(o) %> |
         <% if can? :edit, @organization %>
         <%= link_to "Edit", edit_organization_path(o)%> |
         <% end %>
         <% if can? :delete, @organization %>
         <%= link_to "Delete", organization_path(o),
                             data: {confirm: "Are you sure?"},
                             method: :delete%>
         <% end %>
       </td>
     </div>
    <% end %>
    </tr>
  </tbody>
</table>
</div>
<p><%= link_to "Add", new_organization_path, class: "btn btn-primary"%></p>
