<h1>Technologies</h1>

<div class="container-fluid">
<p>
<%= simple_form_for @technology do |f| %>
<%= f.input :name, label: "Technology Name:" %>
<%= f.submit "Add", class: "btn btn-primary" %>
<% end %>
</p>
</div>
<div class="container-fluid">
  <h5>List of technologies to be used with organizations</h5>
  <table class="table table-striped" id="admin-table">
    <thead>
    <tr>
      <th>Technology</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% @technologies.each do |t| %>
    <tr>
      <td><%= t.name %></td>
      <td><%= link_to "Remove", technology_path(t),
      data: {confirm: "Are you sure?"},
      method: :delete%></td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>
