<%= month_calendar events: @events do |date, events| %>
  <span class="event-date"><%= date.strftime("%d") %></span>

  <% events.each do |event| %>
    <div class="event-cal">
      <span class="event-time">
        <%= formatted_time(event.start_time) %>
      </span>
      <%= link_to event.meetup_title, event.meetup_url%>
    </div>
  <% end %>
<% end %>

<!-- Search Bar -->
<form role="form">
  <div class="form-group">
    <input type="text" class="search form-control empty" placeholder="&#xF002; Search All Events"/>
  </div>
</form>

<!-- Search Bar to include Font Awesome Search Icon -->
<script>
$('#iconified').on('keyup', function() {
  var input = $(this);
  if(input.val().length === 0) {
    input.addClass('empty');
  } else {
    input.removeClass('empty');
  }
});
</script>

<% @events.each do |list|%>
  <div class="event">
    <div class="event-name"><%= link_to list.meetup_title,list.meetup_url %></div>
    <div class="event-date">On <%= list.start_time%></div>
    <hr>
  </div>
<%end%>

<%= render "/events/events"%>
