<table class="table table-striped table-bordered">
  <tbody>
    <tr>
      <td class="col-md-3">Team size:</td>
      <td class="col-md-9"><%= @organization.employee_count %></td>
    </tr>
    <tr>
      <td class="col-md-3">Tech team size:</td>
      <td class="col-md-9"><%= @organization.tech_team_size %></td>
    </tr>
    <tr>
      <td class="col-md-3">Website:</td>
      <td class="col-md-9"><%= link_to @organization.website, @organization.website %></td>
    </tr>
    <tr>
      <td class="col-md-3">Tags:</td>
      <td class="col-md-9"><%= @organization.technologies.map(&:name).join(", ") %></td>
    </tr>
    <tr>
      <td class="col-md-3">Twitter:</td>
      <td class="col-md-9"><%= link_to @organization.twitter,"https://twitter.com/#{@organization.twitter}" if @organization.twitter %></td>
    </tr>
    <tr>
      <td class="col-md-3">Manager:</td>
      <td class="col-md-9">
        <% if @organization.user %>
        <%= @organization.user.first_name %></td>
        <% end %>
    </tr>
  </tbody>
</table>
