<table class="table table-striped table-bordered">
  <tbody>
    <tr>
      <td>Team size:</td>
      <td><%= @organization.employee_count %></td>
    </tr>
    <tr>
      <td>Tech team size:</td>
      <td><%= @organization.tech_team_size %></td>
    </tr>
    <tr>
      <td>Website:</td>
      <td><%= link_to @organization.website, @organization.website%></td>
    </tr>
    <tr>
      <td>Tags:</td>
      <td><%= @organization.technologies.map(&:name).join(", ") %></td>
    </tr>
    <tr>
      <td>Twitter:</td>
      <td><%= link_to @organization.twitter,"https://twitter.com/#{@organization.twitter}" %></td>
    </tr>
  </tbody>
</table>
